[submodule "vendor/premake-ecc"]
	path = vendor/premake-ecc
	url = git@github.com:mattbystrin/premake-ecc
[submodule "vendor/stb"]
	path = vendor/stb
	url = git@github.com:nothings/stb
[submodule "vendor/tinyobjloader"]
	path = vendor/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
